/* Your code here */
.ttt ul {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 300px;
  border: 2px solid black;
  list-style: none;
  padding-left: 0;
}

.ttt li {
  width: 96px;
  height: 96px;
  border: 2px solid black;
  color: blue;

  cursor: pointer;
}

li:hover {
  background: yellow;
}

.ttt li.open {
  display: flex;
  font-family: fantasy;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

h1 {
  color: blue;
}

body {
  background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: fantasy;
}
